@page
@model SistemaAutenticacao.Pages.Escola.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Escola</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Nif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Nif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Abreviatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Abreviatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.CreatedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Escola.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
