@page
@model SistemaAutenticacao.Pages.Escola.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Escola</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Nif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Nif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.Abreviatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.Abreviatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escola.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escola.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Escola.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
